$mid-screen: "(max-width : 1280px) and (min-width: 960px)";
$mid-screen-landscape: "(max-height : 800px) and (min-width: 960px)";
$small-screen: "(max-width : 960px)";
$screen-height-small: "screen and (max-height: 670px)";
$screen-height-very-small: "screen and (max-height: 600px)";
$small-screen-landscape: "screen and (orientation: landscape) and (max-height: 400px)";
$small-not-standard-devices: "screen and (max-width : 1280px) and (min-width: 760px) and (max-height: 1400px) and (min-height: 1000px)";

$rectangle-background: #dfd604;

.mid-svg-container {
  position: absolute;
  top: 100vh;
  left: 50%;
  width: 100vw;
  height: 100%;
  transform: translateX(-50%);

  .mid-inverted-wave-svg {
    position: relative;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
  }

  .mid-rect {
    position: relative;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 80vh;
    background-color: $rectangle-background;

    @media #{$mid-screen} {
      height: 190vh;
    }

    @media #{$mid-screen-landscape} {
      height: 120vh;
    }

    @media #{$small-screen} {
      height: 155vh;
    }

    @media #{$screen-height-small} {
      height: 180vh;
    }

    @media #{$screen-height-very-small} {
      height: 210vh;
    }

    @media #{$small-screen-landscape} {
      height: 360vh;
    }

    @media #{$small-not-standard-devices} {
      height: 110vh;
    }
  }

  .mid-wave-svg {
    position: relative;
    top: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
  }

  .info-graphs-container {
    position: absolute;
    top: 20vh;
    left: 0;
    width: 100vw;
    height: 100%;

    @media #{$screen-height-small} {
      position: absolute;
      top: 100vh;
      left: 50%;
      transform: translateX(-50%);
    }

    @media #{$mid-screen-landscape} {
      top: 15vh;
    }

    @media #{$small-screen} {
      top: 12vh;
    }

    @media #{$small-screen-landscape} {
      top: 28vh;
    }
  }
}
